<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456838549894-o2osegpn5btodmln28amofetrdlek865.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456838549894-o2osegpn5btodmln28amofetrdlek865</string>
	<key>API_KEY</key>
	<string>AIzaSyADuHTuIu-E_pl0oPzuyx0D-oQTGKS-Rjo</string>
	<key>GCM_SENDER_ID</key>
	<string>456838549894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-21d0a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-21d0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456838549894:ios:b64f28c9a2f480eb9c9c07</string>
</dict>
</plist>